body {
  font: 12px/1.5 'Open Sans', sans-serif;
  overflow-x: hidden;
  -webkit-animation: androidbugfix infinite 1s;
  height: 100%;
}

ul, li, p, a, span, div, label, button, .button, nav, h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
}

ul {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

p {
  margin: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container-site {
  background: #fff;
  min-height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
}

select {
  -webkit-appearance: none!important;
  border-radius: 0;
  background-color: #fafafa;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zd…J2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+);
  background-position: 100% center;
  background-repeat: no-repeat;
  border-style: solid;
  border-width: 1px;
  border-color: #ccc;
  padding: .5rem;
  font-size: .875rem;
  color: rgba(0, 0, 0, .75);
  line-height: normal;
  border-radius: 0;
  height: 2.3125rem;
}

.btn {
  padding-right: 1.25rem;
  padding-left: 1.25rem;
  display: inline-block;
  text-align: center;
  margin: 0 0 1.25rem;
  font-weight: normal;
  line-height: normal;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.botao--azul {
  background: #4261af;
  color: #fff;
  border: solid 1px #4261af;
}

.u-md-label, .u-md-tableHead, .u-md-link, .u-md-txtBtn {
  font-size: 1.167em;
}

button, .button {
  cursor: pointer;
  position: relative;
  border-radius: 0;
  transition: background-color 300ms ease-out;
}


/* Classe utilitária */

.u-esconder {
  display: none;
}

.u-bold {
  font-weight: bold;
}

.u-xsm-margemTop {
  margin-top: .5em;
}

.columns {
  position: relative;
}
